<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>InsuranceProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>/tags/InsuranceTags.tld</taglib-uri>
			<taglib-location>/tags/InsuranceTags.tld</taglib-location>
		</taglib>
	</jsp-config>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/error/nosuchpage.jsp</location>
	</error-page>
	<error-page>
		<!-- <location>/WEB-INF/error/error.jsp</location> -->
		<location>/WEB-INF/error/unhandled.jsp</location>
	</error-page>
	
	
	
	 <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/Spring/spring-config.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    
	 <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/Spring/mvc-dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    



	<filter>
		<filter-name>ExceptionHandler</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ExceptionHandler</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>setCharFilter</filter-name>
		<filter-class>main.java.by.itacademy.web.filter.CharsetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>setCharFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>setRedirectFilter</filter-name>
		<filter-class>main.java.by.itacademy.web.filter.RedirectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>setRedirectFilter</filter-name>
		<url-pattern>/admin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>setRedirectFilter</filter-name>
		<url-pattern>/mainpage.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>setRedirectFilter</filter-name>
		<url-pattern>/signin.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>setRedirectFilter</filter-name>
		<url-pattern>/end.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>setRedirectFilter</filter-name>
		<url-pattern>/result.jsp</url-pattern>
	</filter-mapping>


</web-app>